openapi: 3.1.0
info:
  title: API Documentation
servers:
- url: https://api.productive.io
tags:
- name: Activities
  description: 'Activities in Productive track changes made to various objects across
    the platform. Whenever an object is created, updated, or deleted, a new activity
    is logged. This activity records the type of change, the specific data that was
    modified, as well as the actor who made the change and the exact timestamp when
    it occurred.


    These activities are primarily used in Feeds for different objects, such as Tasks,
    Projects, People and other.


    _Note:_ Activities are created for most, but not all, objects in Productive.'
- name: Agent Configs
  description: Endpoints for managing agent configurations — AI behavior instructions
    and Slack trigger settings for an agent.
- name: Agent Roles
  description: Endpoints for managing agent roles — custom permission sets that define
    what actions an AI agent is allowed to perform within the organization.
- name: Agents
  description: Endpoints for managing AI agents — automated organization members with
    configurable behavior, permissions, and Slack integration.
- name: Approval Policy
  description: Approval policies define who approves time entries, absences, or expenses.
    Configures the set of approvers and whether all approvers must approve (unanimous)
    or any single approver is sufficient.
- name: Approval Policy Assignment
  description: '**Approval policy assignments** link an approval policy to a person,
    determining who approves their time entries, expenses, or absence requests. Each
    person can have different policies for different approval types.


    Manage assignments to configure the approval chain for individuals across your
    organization.'
- name: Approval Status
  description: 'The `ApprovalStatus` entity represents a single approval requirement
    on a target (`Booking`, `TimeEntry`, or `Expense`). It is created automatically
    by an `ApprovalWorkflow` once a triggering event matches the workflow''s approval
    policy, and it tracks whether a specific approver has approved or rejected the
    target.


    Multiple approval statuses can be attached to the same target — one per required
    approver (explicit or dynamic). A target is only considered fully approved once
    its approval statuses satisfy the rule defined by `ApprovalWorkflow.approval_requirement_id`
    (`Any of` vs `All of` listed approvers).


    Each approval status carries:


    - The approver assigned to act on it — either an **explicit person** (via the
    `approver` relationship) or a **dynamic role** resolved at approval time (`dynamic_approver_type_id`:
    Manager, Budget owner, Project manager, or Designated approver).

    - A **fallback approver type** used when the dynamic approver cannot be resolved
    (e.g., the person has no manager).

    - The **actual approver** — the person who took the action. May differ from the
    assigned approver when a fallback was used or when someone with appropriate permissions
    approved on behalf of the assignee.

    - Timestamps for approval (`approved_at`) and rejection (`rejected_at`).

    - An optional `note` left by the actor when approving or rejecting.


    The status is mutated via the dedicated `approve` and `reject` endpoints, which
    also trigger the broader approval flow on the target — potentially auto-approving
    (or auto-rejecting) the target once the workflow''s rule is satisfied.'
- name: Approval Workflow
  description: "The ApprovalWorkflow entity serves as the core component of the [ApprovalPolicy](https://developer-staging.productive.io/approval_policies.html#approval-policies)\
    \ object. It defines and manages information about approvers and subscribers,\
    \ including the explicit and dynamic approvers and subscribers.\nExplicit approvers\
    \ or subscribers can be assigned using the `approver_ids` or `subscriber_ids`\
    \ arrays, which contain the IDs of the respective person objects designated as\
    \ approvers or subscribers. Dynamic approvers and subscribers can be configured\
    \ using the `dynamic_approvers_ids` or `dynamic_subscriber_ids` arrays, which\
    \ include the ID of one of the following options:\n- Manager (id: 1) – The person's\
    \ manager is automatically assigned as the approver or subscriber for the corresponding\
    \ request.\n\nWhen creating an approval workflow, it is necessary to define the\
    \ `approval_requirement_id`, which determines whether approval is required for\
    \ the corresponding requests and, if so, it defines the level of the needed approval.\
    \ The available values for `approval_requirement_id` are:\n- `approval_requirement_id:\
    \ 1` - None -> No approval is required for the request to be considered approved.\n\
    - `approval_requirement_id: 2` - Any of the listed approvers -> Approval from\
    \ at least one approver is sufficient for the request to be considered approved.\n\
    - `approval_requirement_id: 3` - All listed approvers -> Approval from all listed\
    \ approvers is required for the request to be considered approved.\n\nFollowing\
    \ diagram shows approval workflows in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    approval_policy: Approval Policy\napproval_workflows: Approval Workflows {\n \
    \   class: primary\n}\napproval_policy_assignment: Approval Policy Assignment\n\
    person: Person\n\n# define connections\nperson -> approval_policy_assignment\n\
    approval_policy -> approval_policy_assignment\napproval_policy -> approval_workflows\n\
    ```"
- name: Attachments
  description: 'The attachment object represents files such as images, PDFs and documents
    that can be assigned to other objects. These include, but are not limited, to
    tasks, comments, expenses and purchase orders. With attachments, users can provide
    relevant information, resources and additional context for related objects.


    You can find more about attachments in our Help documentation: [Working with attachments](https://help.productive.io/en/articles/2179672-working-with-attachments)


    For more details on how to work with attachment files through our API please refer
    to [Working with attachments](https://developer.productive.io/working_with_attachments.html#working_with_attachments)
    guide.'
- name: Automatic Invoicing Rules
  description: '**Automatic invoicing rules** define conditions under which invoices
    are generated automatically from budget services — on time-based schedules, milestone
    completion, or budget consumption thresholds.


    Use these endpoints to configure recurring or event-driven billing without manual
    invoice creation.'
- name: BankAccounts
  description: '**Bank accounts** store payment destination details for subsidiaries,
    displayed on invoices and financial documents. They contain IBAN, SWIFT/BIC, bank
    name, and account number fields.


    Manage which bank accounts are associated with each subsidiary to control what
    payment information appears on client-facing documents.'
- name: Bills
  description: Receipt records against a purchase order tracking vendor deliveries.
    Each bill captures the invoice number, date, due date, description, and amounts
    received. Bill items link PO expenses to received quantities.
- name: Boards
  description: "The Board object represents a board within the project management\
    \ system. It sits between Projects and Task lists, meaning it belongs to a project\
    \ and contains multiple task lists.\n\nIn the application, `boards` are currently\
    \ referred to as `folders`.\n\nYou can find out more about boards in our Help\
    \ documentation: [Boards](https://help.productive.io/en/articles/2179655-multiple-boards)\n\
    \nFollowing diagram shows boards in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    project: Project\nboard: Board {\n  class: primary\n}\ntask_list: Task list\n\
    task: Task\ncomments: Comments\nsubtasks: Subtasks\ntodos: Todos\n\n# define connections\n\
    project -> board -> task_list -> task\ntask -> comments\ntask -> subtasks\ntask\
    \ -> todos\n```"
- name: Bookings
  description: "The Booking object represents a scheduled time allocation for a person,\
    \ serving as a core component for tracking time, managing availability, and organizing\
    \ resource allocation. There are two main types of bookings:\n\n1. Budget bookings\
    \ - where a person is allocated to work on a specific deal/budget. These bookings\
    \ are linked to a [service](https://developer.productive.io/services.html#services)\
    \ object, which represents the actual work being done.\n\n2. Absence bookings\
    \ - which track time off and remote work absences. These bookings are linked to\
    \ an [event](https://developer.productive.io/events.html#events) object, representing\
    \ the type of absence (time off or remote work).\n\nEach booking method defines\
    \ how time is allocated and requires specific attributes to be set: Per day (requires\
    \ `hours` and `time` attributes to specify hours and time for each day), Percentage\
    \ (requires `percentage` attribute to allocate a portion of a person's available\
    \ time) and Total hours (requires `total_time` attribute to specify the total\
    \ amount of hours for the selected period).\n\nBookings can have different states\
    \ depending on their type:\n- Budget bookings can be either Tentative (when there's\
    \ a possibility of the time allocation but it's not yet confirmed, indicated by\
    \ `draft: true`) or Confirmed\n- Absence bookings go through an approval workflow\
    \ with the following states: Pending (waiting for approval), Approved, Rejected\
    \ (with a reason), or Canceled (if cancelled after submitting for approval)\n\n\
    Bookings can also be customized with custom fields to store additional information\
    \ about booking. Custom fields allow you to add custom attributes or any other\
    \ metadata relevant to your booking workflow. For more details on how to work\
    \ with custom fields please refer to [Working with custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)\
    \ guide.\n\nThe following diagram shows bookings in our data hierarchy:\n\n```d2\n\
    ...@template\n# template cant import globs just yet\n*: {\n  class: default\n\
    }\n\n# Define actors\nperson: Person\nservice: Service\nevent: Event\nbooking:\
    \ Booking {\n  class: primary\n}\n\n# Define connections\nperson -> booking\n\
    service -> booking\nevent -> booking\n```"
- name: Comments
  description: Comments on tasks, deals, companies, persons, pages, projects, purchase
    orders, and invoices. Supports rich text with @mentions, emoji reactions, pinning,
    and edit history. Comments appear in the activity feed of the parent resource.
- name: Companies
  description: "Company resources are used to keep track of clients and manage their\
    \ associated deals, budgets, contacts (people) and projects.\nMore information\
    \ about Companies can be found in our Help documentation: [Adding Client Companies](https://help.productive.io/en/articles/2179668-adding-client-companies).\n\
    \nThe `/companies` endpoint allows you to create, update, delete, archive or unarchive\
    \ (restore) Companies.\n\nThe following diagram shows Companies in our data hierarchy:\n\
    ```d2\n...@template\n# template cant import globs just yet\n* {\n  class: default\n\
    }\n\n# Define actors\ncompany: Company {\n  class: primary\n}\ndeals: Deals\n\
    projects: Projects\npeople: People\nsubsidiary: Subsidiary\n\n# define connections\n\
    company -> deals\ncompany -> projects\ncompany -> people\ncompany <- subsidiary\n\
    ```\n\nSince companies can have custom fields, please refer to the [Working with\
    \ custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)\
    \ guide for more details on how to work with them."
- name: Contact Entries
  description: Contact information records (email, phone, website, postal address)
    for companies and people. Multiple contact entries can be attached to a single
    company or person, each with a type (e.g. work, personal) and optional billing-specific
    fields.
- name: Contracts
  description: 'For more details on contracts please refer to the [help article](https://help.productive.io/en/articles/2179582-recurring-budgets).


    The contract object represents recurring financial commitments such as recurring
    budgets. Recurring commitments are either created automatically or triggered manually.


    Please note that we rate limit POST requests for generating recurring budgets
    to 50 requests per minute.'
- name: Custom Field Options
  description: "Custom field options define the choices available for custom fields\
    \ with the select or multiple select data types.\n\nFollowing diagram shows custom\
    \ field options in our data hierarchy:\n\n```d2\n...@template\n# template cant\
    \ import globs just yet\n* {\n  class: default\n}\n\n# Define actors\ncustom_field:\
    \ Custom Field\ncustom_field_options: Custom Field Options {\n  class: primary\n\
    }\n\n# define connections\ncustom_field -> custom_field_options\n```"
- name: Custom Field Section
  description: "CustomFieldSection is an entity that serves as a container for employee\
    \ custom fields, enabling the grouping of those fields. Also in this way, employee\
    \ custom fields cannot exist without belonging to a section.\nEach employee custom\
    \ field belongs to a specific section and has section_id set, while one section\
    \ contains several possible employee custom fields.\n\nFor more details on how\
    \ to work with custom fields please refer to [Working with custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)\
    \ guide.\n\nFollowing diagram shows custom field sections in our data hierarchy:\n\
    \n```d2\n...@template\n# template cant import globs just yet\n*: {\n  class: default\n\
    }\n\n# Define actors\ncustom_field_section: Custom Field Section {\n  class: primary\n\
    }\ncustom_fields: Custom Fields\n\n# define connections\ncustom_field_section\
    \ -> custom_fields\n```"
- name: Custom Fields
  description: 'Custom fields allow you to use unique categorizations that are not
    available in Productive''s default settings, allowing you to organize data based
    on your specific criteria and use it throughout the app.


    For more details on how to work with custom fields please refer to [Working with
    custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)
    guide.


    ### Aggregation type

    The `aggregation_type_id` attribute can have one of the following integer values:


    - 1 (sum)

    - 2 (avg)


    ### Customizable type

    The `customizable_type` attribute can have one of the following string values:


    - deals

    - projects

    - companies

    - budgets

    - invoices

    - tasks

    - projects

    - bookings

    - project_expenses

    - services

    - employees

    - contacts

    - pages

    - survey_responses


    ### Data type

    The `data_type_id` attribute can have one of the following integer values:


    - 1 (Text field)

    - 2 (Number field)

    - 3 (Select field)

    - 4 (Date field)

    - 5 (Multiple select field)

    - 6 (Person field)

    - 7 (Attachment field)


    ### Formatting type

    The `formatting_type_id` attribute can have one of the following integer values:


    - 1 (decimal)

    - 2 (percentage)'
- name: Custom domains
  description: '**Custom domains** allow organizations to send transactional emails
    (invoices, proposals, notifications) from their own domain rather than a Productive-managed
    address.


    Configure and verify DNS records (`SPF`, `DKIM`, `MX`) for your domain through
    these endpoints. A verified custom domain improves email deliverability and reinforces
    brand identity.'
- name: Dashboards
  description: 'The Dashboard object represents the main component of the dashboard
    system.


    It functions as a container for Widgets, enabling users to edit and arrange them
    as needed, allowing you to have all essential information in one place.


    You can find out more about dashboards in our Help documentation for [Dashboards](https://help.productive.io/en/articles/6423123-dashboards)

    '
- name: Deal Cost Rates
  description: "For an overview of deal cost rates please refer to the [help article](https://help.productive.io/en/articles/8795140-custom-cost-rates-on-budgets-and-deals).\n\
    \nBesides having default [cost rates](https://help.productive.io/en/articles/2179644-understanding-and-setting-up-cost-rates-in-productive)\
    \ for the team,\na custom cost rate for specific deal or budget can be set, which\
    \ will override the default value.\nOnly one per person, per deal can be created.\n\
    \nFollowing depicts the Deal cost rate entity relationship diagram:\n\n```d2\n\
    ...@template\n*: {\n  class: default\n}\n\n# Define actors\ndeal: Deal / Budget\n\
    person: Person\ndeal_cost_rate: DealCostRate {\n  class: primary\n}\n\ndeal ->\
    \ deal_cost_rate <- person\n```"
- name: Deal Statuses
  description: Pipeline stages defining deal outcomes. Each status belongs to a pipeline
    and has an outcome category (open, won, lost, or delivered). Statuses can enable
    time tracking, expense tracking, booking tracking, and probability estimation.
- name: Deals
  description: 'This endpoint contains both `budgets` and `deals`.

    When creating a new record, a budget or deal will be created based on the `budget`
    attribute in the request.

    If the request does not contain the `budget` attribute or has `budget: false`
    the new record will be a deal.

    If the request has `budget: true` the new record will be a budget.


    For more details on how to work with custom fields please refer to [Working with
    custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)
    guide.'
- name: Deleted Items
  description: 'The Deleted item object represents an deleted object (e.g., Task,
    Project, Doc) that can be found in the Recycle bin.


    Deleted items can be restored, meaning the object they reference will be restored
    and it will disappear from the Recycle bin.

    They can also be permanently deleted, meaning the object they reference will no
    longer be able to be retrieved from the Recycle bin.


    You can find out more about Recycle bin in our Help documentation for [Recycle
    bin](https://help.productive.io/en/articles/5609401-recycle-bin)'
- name: Discussions
  description: Discussion is a thread of comments related to the highlighted part
    of docs (page) content.
- name: Document Styles
  description: '**Document styles** control the visual presentation of generated PDFs
    — fonts, colors, logos, and layout settings. They are applied to document types
    to produce consistently branded, client-facing documents.


    Update a style to propagate branding changes across all documents that reference
    it.'
- name: Document Types
  description: '**Document types** are PDF templates used to generate financial documents
    — invoices, proposals, and purchase orders. They define content blocks, layout,
    and branding applied when rendering documents.


    Assign document types to subsidiaries to set the default template for generated
    PDFs.'
- name: E-invoice Identities
- name: Emails
  description: '**Emails** synced from external providers (Gmail, Outlook) and linked
    to deals, contacts, projects, or tasks. They surface client communication history
    directly within Productive for CRM context.


    List and retrieve email threads associated with records through these endpoints.'
- name: Entitlements
  description: Time-off balances for a person. Tracks allocated, used, and pending
    (approved but not taken) days for a specific absence category (event) and period.
    Updated automatically as bookings and approvals are processed.
- name: Events
  description: "Event resources represent Absence categories. More information about\
    \ the Absence categories can be found in our Help documentation: [Configuring\
    \ Your Time Off Settings](https://help.productive.io/en/articles/3154360-configuring-your-time-off-settings).\n\
    \nThe `/events` endpoint allows you to create, update, delete, archive or unarchive\
    \ (restore) Events.\n\nThe following diagram shows Events in our data hierarchy:\n\
    ```d2\n...@template\n# template cant import globs just yet\n* {\n  class: default\n\
    }\n\n# Define actors\nevent: Event {\n  class: primary\n}\nbookings: Bookings\n\
    entitlements: Entitlements\napproval_workflows: Approval Workflows\n\n# define\
    \ connections\nevent -> bookings\nevent -> entitlements\nevent -> approval_workflows\n\
    ```\n\nFor limited Events, absence bookings can only be created if the assignee\
    \ has sufficient available hours or days defined via [Entitlements](https://developer.productive.io/entitlements.html#entitlements).\n\
    Approvers and subscribers for a Person’s absence booking on a specific Event can\
    \ be managed through [ApprovalWorkflows](https://developer.productive.io/approval_workflows.html#approval-workflows).\n\
    \nAlso, we differentiate between time off (e.g. vacation, sick leave) and remote\
    \ work (e.g. work from home) events. This is defined via the `absence_type` attribute.\n\
    It is possible to change an event from the `remote_work` to the `time_off` absence\
    \ type and vice versa, but please note that remote work events will always have\
    \ the Unpaid event type.\n\nFor more details on how to work with remote work events,\
    \ please refer to the [Remote Work](https://help.productive.io/en/articles/11026966-remote-work-beta)\
    \ help article."
- name: Exchange Rates
  description: '**Exchange rates** define currency conversion ratios applied across
    financial calculations in Productive — used when converting budget amounts, costs,
    and revenues between currencies in multi-currency organizations.


    Query exchange rates to understand the conversions applied to financial data for
    a given date.'
- name: Expenses
  description: "For an overview of expenses please refer to the [help article](https://help.productive.io/en/articles/9154726-expenses-admin-overview)\n\
    Expenses in productive are additional costs related to your budgets and deals.\n\
    An expense always belongs to a service which in turn always belongs to a budget\
    \ or deal.\nAn expense can also belong to a Purchase Order (when it's on a budget\
    \ service), but that is not mandatory.\n\nFollowing diagram shows expenses in\
    \ our data hierarchy:\n\n```d2\n...@template\n*: {\n  class: default\n}\n\n# Define\
    \ actors\nbudget: Budget / Deal\nservice: Service\npurchase_order: Purchase Order\n\
    expense: Expense {\n  class: primary\n}\n\nbudget -> service -> expense\nbudget\
    \ -> purchase_order -> expense: {\n  style: {\n    stroke: black\n    stroke-dash:\
    \ 5\n  }\n}\n```\n\nExpenses support attachments and custom fields."
- name: Expenses - Bulk
  description: '**Bulk expense operations** allow creating or updating multiple expense
    records in a single request — useful for high-volume import workflows where individual
    API calls would be impractical.


    Bulk operations follow the same validation rules as single-record endpoints.'
- name: Filters
  description: Filters records are used to save the setup of your views, reports and
    widgets across Productive.
- name: Folders
  description: "The Folder object represents a folder within the project management\
    \ system. It sits between Projects and Task lists, meaning it belongs to a project\
    \ and contains multiple task lists.\n\nYou can find out more about folders in\
    \ our Help documentation: [Folders](https://help.productive.io/en/articles/2179655-multiple-boards)\n\
    \nFollowing diagram shows folders in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    project: Project\nfolder: Folder {\n  class: primary\n}\ntask_list: Task list\n\
    task: Task\ncomments: Comments\nsubtasks: Subtasks\ntodos: Todos\n\n# define connections\n\
    project -> folder -> task_list -> task\ntask -> comments\ntask -> subtasks\ntask\
    \ -> todos\n```"
- name: Holiday calendars
  description: "For more details on how to work with holiday calendars and holidays,\
    \ please refer to [Holidays Settings](https://help.productive.io/en/articles/2179650-holidays-settings)\
    \ article.\nHoliday calendar is an entity that represents an outer container for\
    \ multiple holidays.\nHolidays within the calendar define the persons availability\
    \ and capacity on a particular date. For more details on how to work with holidays,\
    \ please refer to [Holidays](https://developer.productive.io/holidays.html#holidays)\
    \ documentation.\nA holiday calendar is associated with person's cost rate (salary).\
    \ Each cost rate has exactly one holiday calendar.\nYou can find more about relationship\
    \ between cost rates and holiday calendars in our help documentation: [Understanding\
    \ and Setting Up Cost Rates in Productive](https://help.productive.io/en/articles/2179644-understanding-and-setting-up-cost-rates-in-productive).\n\
    \nThe following diagram shows holiday calendars in our data hierarchy:\n\n```d2\n\
    ...@template\n# template cant import globs just yet\n* {\n  class: default\n}\n\
    \n# Define actors\nperson: Person\nholiday_calendar: Holiday Calendar {\n  class:\
    \ primary\n}\nsalaries: Salaries\nholidays: Holidays\n\n# define connections\n\
    person -> salaries\nholiday_calendar -> salaries\nholiday_calendar -> holidays\n\
    ```"
- name: Holidays
  description: "For more details on how to work with holidays please refer to: [Holidays\
    \ Settings](https://help.productive.io/en/articles/2179650-holidays-settings).\
    \  \nThe Holiday entity represents a specific holiday that can be defined within\
    \ the holiday calendar. One holiday calendar includes multiple holidays. \nThe\
    \ primary function of the holiday entity is to define an employee's availability\
    \ on a specific calendar date based on their defined cost rate ([Salary entity](https://developer-staging.productive.io/salaries.html#salaries)).\n\
    \nYou can find out more about how holidays affect availability and capacity in\
    \ our Help article: [Capacity vs. Availability: What You Need To Know](https://help.productive.io/en/articles/2651833-capacity-vs-availability-what-you-need-to-know)\n\
    \nThe following diagram shows holidays in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    person: Person\nholiday_calendar: Holiday Calendar\nsalaries: Salaries\nholidays:\
    \ Holidays {\n  class: primary\n}\n\n# define connections\nperson -> salaries\n\
    holiday_calendar -> salaries\nholiday_calendar -> holidays\n```"
- name: Integration Exporter Configuration
  description: '**Integration exporter configurations** define how data is exported
    from Productive to external accounting and ERP systems, storing connection credentials,
    entity mappings, and export preferences per integration type.


    Use these endpoints to set up and maintain accounting sync pipelines for QuickBooks,
    Xero, or NetSuite.'
- name: Integrations
  description: '**Integrations** connect Productive to external systems — accounting
    software, SSO providers, and communication tools. Manage settings, credentials,
    and sync configuration for each connected service.


    Supported integrations include QuickBooks, Xero, NetSuite, Slack, and SAML-based
    single sign-on.'
- name: Invitations
  description: '**Invitations** allow existing users to invite new members to join
    an organization in Productive.


    Manage pending invitations, resend emails, and revoke outstanding invites. Accepting
    an invitation creates a new user account and organization membership for the invitee.'
- name: Invoice Attributions
  description: "An invoice attribution object represents a link between a budget and\
    \ an invoice.\n\nFollowing diagram shows invoice attributions in our data hierarchy:\n\
    \n```d2\n...@template\n# template cant import globs just yet\n* {\n  class: default\n\
    }\n\n# Define actors\nbudget: Budget\ninvoice1: Invoice\ninvoice2: Invoice\ninvoice_attribution1:\
    \ Invoice Attribution {\n  class: primary\n}\ninvoice_attribution2: Invoice Attribution\
    \ {\n  class: primary\n}\n\n# Define connections\nbudget -> invoice_attribution1\n\
    invoice1 -> invoice_attribution1\nbudget -> invoice_attribution2\ninvoice2 ->\
    \ invoice_attribution2\n```\n\n### Related resources\n- [Deals (Budget)](https://developer.productive.io/deals.html#deals)\n\
    - [Invoice](https://developer.productive.io/invoice_attributions.html#invoices)"
- name: Invoice Templates
  description: '**Invoice templates** (document types) define the layout, content,
    and branding for PDF-generated invoices and financial documents — controlling
    headers, footers, logos, and displayed fields.


    Assign templates to subsidiaries to produce consistently branded, client-facing
    billing documents.'
- name: Invoices
  description: "For more details on how to work with custom fields please refer to\
    \ [Working with custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)\
    \ guide.\n\nThe invoice object represents the main building block of the invoicing\
    \ module.\n\nYou can find out more about invoicing in our Help documentation:\
    \ [Creating and Managing Invoices](https://help.productive.io/en/collections/8956111-creating-and-managing-invoices)\n\
    \nFollowing diagram shows invoices in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    budget1: Budget\nbudget2: Budget\ninvoice_attribution1: \"Invoice Attribution\"\
    \ninvoice_attribution2: \"Invoice Attribution\"\ninvoice_attribution3: \"Invoice\
    \ Attribution\"\ninvoice2: Invoice {\n  class: primary\n}\ninvoice3: Invoice {\n\
    \  class: primary\n}\nline_item1: \"Line Item\"\nline_item2: \"Line Item\"\nline_item3:\
    \ \"Line Item\"\ntax_rate1: \"Tax Rate\"\ntax_rate2: \"Tax Rate\"\ntax_rate3:\
    \ \"Tax Rate\"\n\n# Define connections\nbudget1 -> invoice_attribution1 <-> invoice2\
    \ -> line_item1 -> tax_rate1\nbudget2 -> invoice_attribution2 <-> invoice2 ->\
    \ line_item2 -> tax_rate2\nbudget2 -> invoice_attribution3 <-> invoice3 -> line_item3\
    \ -> tax_rate3\n```\n\n\n### Tax changes\nOn September 3, 2024, we've released\
    \ new Tax rates system.  That means that `tax1_name`, `tax1_value`, `tax2_name`\
    \ and `tax2_value` attributes on Invoice object are no longer in use. You should,\
    \ however, use `tax_rate_id` attribute on Line item objects to achieve the same\
    \ goal. You can read more about this in [LineItems endpoint](https://developer.productive.io/line_items.html#header-setting-tax-data)\
    \ documentation.\n\n### Related resources\n- [Deals (Budget)](https://developer.productive.io/deals.html#deals)\n\
    - [Invoice Attributions](https://developer.productive.io/invoice_attributions.html#invoice-attributions)\n\
    - [Line Items](https://developer.productive.io/line_items.html#line-items)"
- name: Job Role
- name: Line Items
  description: "A line item is a component of an invoice which represents an individual\
    \ entry that details a specific good or service provided by the seller to the\
    \ buyer.\n\nTo find out more about managing invoices and line items, visit our\
    \ Help documentation: [Creating and Managing Invoices](https://help.productive.io/en/collections/8956111-creating-and-managing-invoices).\n\
    \nFollowing diagram shows line items in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n*: {\n  class: default\n}\n\n# Define actors\n\
    invoice1: Invoice\nline_item1: Line Item {\n  class: primary\n}\nline_item2: Line\
    \ Item {\n  class: primary\n}\ntax_rate1: Tax Rate\ntax_rate2: Tax Rate\nservice:\
    \ Service\nservice_type: Service Type\n\n# Define connections\ninvoice1 -> line_item1\
    \ -> tax_rate1\ninvoice1 -> line_item2 -> tax_rate2\nline_item2 -> service\nline_item2\
    \ -> service_type\n```\n\n### Setting tax data\n\nIn an old workflow, adding tax\
    \ data to a line item requires two values: `tax_name` and `tax_value`. For example,\
    \ if you wanted to add a VAT 15%, you would send `tax_name: ‘VAT’` and `tax_value:\
    \ 15`.\n\nIn a new workflow (available for customers on our BETA program for now),\
    \ you should send `tax_rate_id` instead, which points to a Tax rate object. So,\
    \ in order to set VAT 15% to your line item, you would first need to have a tax\
    \ rate object with those values and then send its ID to the desired line item."
- name: Line Items - Bulk
- name: Lost Reasons
  description: '**Lost reasons** are labels that explain why a deal was marked as
    lost in the CRM pipeline.


    Create and manage the set of available options for your organization. Attaching
    a lost reason to a closed deal helps track pipeline health and surface patterns
    in lost opportunities.'
- name: Memberships
  description: "Working with memberships:\n\nMembership objects are used for managing\
    \ access to different resources in Productive. Currently it is used to manage\
    \ access to projects, docs, dashboards, task views and deals.\n\n### Resources\
    \ accessible via memberships\n\nDepending on the resource you are giving access\
    \ for, different attribute is required. Here is a list of resources that can be\
    \ used with memberships and their required attributes:\n\n| Resource  | Required\
    \ attributes |\n|-----------|---------------------|\n| Project   | `project_id`\
    \        |\n| Doc       | `page_id`           |\n| Dashboard | `dashboard_id`\
    \      |\n| Task view | `filter_id`         |\n| Deal      | `deal_id`       \
    \    |\n| Pulse     | `pulse_id`          |\n\n### Membership types\n\nThere are\
    \ three types of membership:\n- `type_id: 1`, **person** -> gives access to a\
    \ specific person\n- `type_id: 2`, **dynamic_group** -> gives access to a system\
    \ predefined group of people\n- `type_id: 3`, **team** -> gives access to a team\n\
    \nWhen working with memberships, depending on the type of membership, different\
    \ attributes should be sent. For person membership, you need to provide `person_id`,\
    \ for dynamic group membership, you need to provide `dynamic_group_id`, and for\
    \ team membership, you need to provide `team_id`.\n\n\n### Dynamic groups\n\n\
    Dynamic groups are predefined groups of people that are created based on the person\
    \ role and person assignment. There are five types of dynamic groups:\n- `dynamic_group_id:\
    \ 2` - **employees** -> all employees in the organization\n- `dynamic_group_id:\
    \ 6` - **project_members** -> all members of a resource's project\n- `dynamic_group_id:\
    \ 8` - **project_manager** -> project manager of a resource's project\n- `dynamic_group_id:\
    \ 9` - **deal_owner** -> owner of a deal\n- `dynamic_group_id: 10` - **users_that_can_manage_project**\
    \ -> all users who are members of a resource's project and have the `Add, edit,\
    \ and delete projects` permission\n\nWhen creating a membership for a dynamic\
    \ group, you need to provide `dynamic_group_id`.\nDepending on the target resource\
    \ you are giving access to, different dynamic groups are available, `dynamic_group_id`\
    \ available for:\n- **Project** membership: 2\n- **Doc** membership\n  - if Doc\
    \ is on a project: 2, 6, 8\n  - if Doc is not on a project: 2\n- **Dashboard**\
    \ membership\n  - if Dashboard is on a project: 2, 6, 8, 10\n  - if Dashboard\
    \ is not on a project: 2\n- **Deal** membership: 2, 6, 8, 9\n- **Task view** membership:\
    \ 2\n\n\n### Access levels\n\nThere are multiple access levels membership can\
    \ have:\n- `access_type_id: 1` - full -> can edit and delete resource\n- `access_type_id:\
    \ 2` - edit -> can edit resource\n- `access_type_id: 3` - view -> can only view\
    \ resource\n- `access_type_id: 4` - comment -> can comment on resource\n- `access_type_id:\
    \ 5` - member -> marks a subject as a member of a resource\n\nMore about **member\
    \ access**:\nMember access is used for resources where there is no need for different\
    \ levels (projects, deals). Those resources use only one access type and that\
    \ is member access.\nHaving member access means you are a member of a resource.\n\
    \nDepending on the target resource you are giving access to, different access\
    \ levels are available:\n- **Project** memberships use level: 5\n- **Doc** memberships\
    \ use levels: 1, 2, 3, 4\n- **Dashboard** memberships use levels: 1, 3\n- **Deal**\
    \ memberships use level: 5\n- **Task view** memberships use level: 1, 3\n- **Pulse**\
    \ memberships use level: 1\n\n### Examples of creating membership\n\n**Example\
    \ 1**: creating a membership for a person on a project\n\n`POST https://api.productive.io/api/v2/memberships`\n\
    \n```\n{\n  \"data\": {\n    \"attributes\": {\n      \"type_id\": 1,\n      \"\
    person_id\": 123,\n      \"access_type_id\": 5,\n      \"project_id\": 321\n \
    \   },\n    \"type\": \"memberships\"\n  }\n}\n```\n\nExplanation of the example:\n\
    - `type_id: 1` - membership is for a person\n- `person_id: 123` - person with\
    \ id: 123 is getting access\n- `access_type_id: 5` - person is getting member\
    \ access\n- `project_id: 321` - person is getting access to project with id: 321\n\
    \n\n**Example 2**: creating full access membership for an employees dynamic group\
    \ on a dashboard\n\n`POST https://api.productive.io/api/v2/memberships`\n\n```\n\
    {\n  \"data\": {\n    \"attributes\": {\n      \"type_id\": 2,\n      \"dynamic_group_id\"\
    : 2,\n      \"access_type_id\": 1,\n      \"dashboard_id\": 321\n    },\n    \"\
    type\": \"memberships\"\n  }\n}\n```\n\nExplanation of the example:\n- `type_id:\
    \ 2` - membership is for a dynamic group\n- `dynamic_group_id: 2` - **employees**\
    \ dynamic group is getting access\n- `access_type_id: 1` - employees are getting\
    \ full access\n- `dashboard_id: 321` - employees are getting access to dashboard\
    \ with id: 321\n\n\n**Example 3**: creating view access membership for a team\
    \ on a doc\n\n`POST https://api.productive.io/api/v2/memberships`\n\n```\n{\n\
    \  \"data\": {\n    \"attributes\": {\n      \"type_id\": 3,\n      \"team_id\"\
    : 123,\n      \"access_type_id\": 3,\n      \"page_id\": 321\n    },\n    \"type\"\
    : \"memberships\"\n  }\n}\n```\n\nExplanation of the example:\n- `type_id: 3`\
    \ - membership is for a team\n- `team_id: 123` - team with id: 123 is getting\
    \ access\n- `access_type_id: 3` - team is getting view access\n- `page_id: 321`\
    \ - team is getting access to doc with id: 321"
- name: Notifications
  description: '**Notifications** are inbox items generated by activity on tasks,
    deals, comments, and other resources — triggered by mentions, assignments, approval
    requests, and status changes.


    List a user''s notifications and mark them as read through these endpoints.'
- name: Organization Memberships
  description: Organization memberships link users to organizations, granting login
    access. Stores per-user preferences including notification settings, default filters
    for each list view (tasks, deals, invoices, etc.), and UI layout preferences.
- name: Organization Subscriptions
  description: '**Organization subscriptions** represent the current pricing plan
    and active feature entitlements for an organization.


    Query subscription details to determine which modules and limits apply — such
    as maximum seats, advanced reporting, or resource planning. Subscriptions reflect
    the organization''s billing tier and control access to premium features.'
- name: Organizations
  description: '**Organizations** are the top-level accounts representing a company
    using Productive. Manage organization-wide settings, branding, localization, and
    configuration.


    Each organization contains subsidiaries, people, projects, and all associated
    financial and operational data.'
- name: Overheads
  description: 'For more details about what overheads are, please refer to the [help
    article](https://help.productive.io/en/articles/6839043-overhead-cost).


    The Overhead object represents overhead costs for a particular month of a fiscal
    year. Productive generates overhead objects automatically every month, starting
    the month when you opened your Productive account.


    Please note that some overhead settings are also defined at the organisation level.
    This settings can be changed by modifying the Organizations object.'
- name: PageVersions
  description: '**Page versions** capture the revision history of a doc page — each
    significant edit creates a new version.


    List the version history of a page and retrieve previous content. Versions allow
    teams to review changes over time and restore earlier drafts.'
- name: Pages
  description: Rich text pages organized in a Doc hierarchy. Root pages (Docs) support
    public sharing and permission management. Child pages inherit from their parent
    Doc. Pages support custom fields, edit history, and inline discussions.
- name: Passwords
  description: 'Manage **user password changes and resets**.


    These endpoints handle credential update flows for authenticated users and support
    administrative password reset operations. Password changes require the current
    password or a valid reset token.'
- name: Payment reminder sequences
  description: "The Payment reminder sequence object represents payment reminder templates.\n\
    \nYou can find out more about them in our Help documentation: [Invoice Payment\
    \ Reminders](https://help.productive.io/en/articles/7907557-invoice-payment-reminders).\n\
    \nFollowing diagram shows Payment reminder sequences in our data hierarchy:\n\n\
    ```d2\n...@template\n# template cant import globs just yet\n*: {\n  class: default\n\
    }\n\n# Define actors\npayment_reminder_sequence: Payment Reminder Sequence {\n\
    \  class: primary\n}\npayment_reminder1: Payment Reminder\npayment_reminder2:\
    \ Payment Reminder\npayment_reminder3: Payment Reminder\n\n# Define connections\n\
    payment_reminder_sequence -> payment_reminder1\npayment_reminder_sequence -> payment_reminder2\n\
    payment_reminder_sequence -> payment_reminder3\n```"
- name: Payments
  description: "The Payment object represents an invoice payment in invoicing system.\n\
    \nYou can find out more about payments in our Help documentation: [Recording Payments](https://help.productive.io/en/articles/2179635-recording-payments).\n\
    \nFollowing diagram shows payments in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    invoice: Invoice\npayment1: Payment {\n  class: primary\n}\npayment2: Payment\
    \ {\n  class: primary\n}\n\ninvoice -> payment1\ninvoice -> payment2\n```"
- name: People
  description: For more details on how to work with custom fields please refer to
    [Working with custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)
    guide.
- name: Permission Sets
  description: 'The Permission Set object represents a set of permissions that can
    be assigned to a user.


    You can find out more about permission sets in our Help documentation: [Permission
    Sets](https://help.productive.io/en/articles/8517221-permission-builder)

    '
- name: Pipelines
  description: "For more details about pipelines and how to use them with deal statuses,\
    \ please refer to the [help article](https://help.productive.io/en/articles/2179572-setting-up-your-sales-pipelines).\n\
    \nPipelines serve as a tool for grouping deal statuses (i.e. folders for better\
    \ organisation of sales phases).\n\nFollowing depicts the Pipeline entity relationship\
    \ diagram:\n\n```d2\n...@template\n*: {\n  class: default\n}\n\n# Define actors\n\
    deal_status_1: Deal Status 1\ndeal_status_2: Deal Status 2\ndeal_status_3: Deal\
    \ Status 3\ndeal_status_4: Deal Status 4\npipeline_1: Sales Pipeline {\n  class:\
    \ primary\n}\npipeline_2: Another Pipeline {\n  class: primary\n}\n\npipeline_1\
    \ -> deal_status_1\npipeline_1 -> deal_status_2\npipeline_2 -> deal_status_3\n\
    pipeline_2 -> deal_status_4\n```"
- name: Placeholder Usages
  description: '**Placeholder usages** track how a placeholder''s allocated capacity
    is distributed across projects and time periods.


    Query usages to understand utilization of unfilled resource slots and identify
    over- or under-allocated placeholders in your resource plan.'
- name: Placeholders
  description: '**Placeholders** are unnamed resource slots used in capacity planning
    before a specific person is assigned. They represent a role, skill, or headcount
    requirement on a project — allowing teams to schedule capacity without committing
    to a named individual.


    Placeholders can be converted to real person assignments once staffing decisions
    are made.'
- name: Prices
  description: Rate card line items with billing configuration. Each price belongs
    to a rate card and defines a service type, billing type (hourly, fixed, etc.),
    unit, rate, and optional tracking defaults. Supports discounts, markups, budget
    caps, and custom fields.
- name: Project Assignments
  description: '**Project assignments** link people to projects, granting access and
    [Memberships](openapi:group:memberships). They determine which projects appear
    in a person''s task lists and time tracking views.


    Manage assignments to control team composition and project visibility across your
    organization.'
- name: Projects
  description: 'For more details on how to work with custom fields please refer to
    [Working with custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)
    guide.


    > Note: For archived projects, only the `name` and `project_manager_id` attributes
    can be updated. All other attributes will be ignored during update operations.'
- name: Proposals
  description: '**Proposals** are sales quotes attached to deals, presenting scope
    and pricing for client review and e-signature. A proposal mirrors the deal''s
    sections and services in a client-facing layout with a pricing breakdown and acceptance
    workflow.


    Track proposal status, send for signing, and record approvals through these endpoints.'
- name: Pulses
  description: 'A Pulse is an automated report delivery service that makes it easy
    to stay updated without having to manually check your reports. You can set up
    Pulses for any of your reports, choosing how often you’d like to receive them
    — whether it''s daily, weekly, bi-weekly, or monthly. This way, important data
    arrives straight to your inbox or Slack, keeping you informed at your preferred
    schedule.


    Email recipients are managed in two ways:

    - Memberships: link existing Productive users or teams to a pulse (done via the
    [memberships endpoint](https://developer.productive.io/memberships.html#memberships)).

    - `recipients` attribute: specify additional email addresses that are not linked
    to any user in the app.


    More about Pulses in our [help center](https://help.productive.io/en/articles/5178713-using-pulse-to-automate-your-reports)'
- name: Purchase Orders
  description: "In Productive purchase orders are documents that serve as a buyer's\
    \ request to a seller to order goods or services.\nYou can find out more about\
    \ purchase orders in our Help documentation: [Purchase Orders](https://help.productive.io/en/articles/8266926-purchase-orders)\n\
    \nPurchase Orders always belong to a budget and a vendor (seller). They can have\
    \ multiple expenses, bills and bill items.\n\nFollowing diagram shows services\
    \ in our data hierarchy:\n\n```d2\n...@template\n*: {\n  class: default\n}\n\n\
    # Define actors\nbudget: Budget\npurchase_order: Purchase Order {\n  class: primary\n\
    }\nexpense: Expense\nbill: Bill\nbill_item: Bill Item\n\n# define connections\n\
    budget -> purchase_order -> expense -> bill_item\npurchase_order -> bill -> bill_item\n\
    ```\n\nThe enumeration `status_id` can be:\n- 1 (Draft)\n- 2 (Finalized)\n\nThe\
    \ enumeration `payment_status_id` can be:\n- 1 (Not received)\n- 2 (Partially\
    \ received)\n- 3 (Fully received)"
- name: Purchase Orders - Bulk
  description: Bulk update and delete operations on purchase orders.
- name: Rate cards
  description: Price lists for services. Rate cards define company-wide or client-specific
    pricing templates. Each rate card contains prices for service types with billing
    configuration. Client-specific rate cards override defaults for that company.
- name: Report Category
  description: 'Report categories help you organize and categorize your reports. You
    can assign each category a unique name and color code, making it easier to navigate
    through and manage your saved reports. This visual organization allows you to
    quickly find the reports you need and keep your workspace more streamlined.

    '
- name: Reports
  description: '**Reports** provide aggregated, filtered views of time, financial,
    and project data across the organization — budget summaries, resource utilization,
    time entry totals, and financial KPIs.


    Use report endpoints to query data by date range and grouping. Reports power the
    analytics and business intelligence views in Productive.'
- name: Resource Requests
  description: Operations for managing resource requests — requests to allocate or
    hire resources for a project service.
- name: Revenue Distributions
  description: '**Revenue distributions** define how recognized revenue is allocated
    across time periods for a service, supporting accrual-based revenue recognition.


    Configure and query revenue schedules — specifying what portion of a service''s
    value is recognized in each period — for accurate financial reporting.'
- name: Salaries
  description: 'For more details on salaries (also called cost rates) please refer
    to the [help article](https://help.productive.io/en/articles/2179644-understanding-and-setting-up-cost-rates-in-productive).


    The cost rate object represents invidual''s cost rate defined for a certain period
    of time. A person can have multiple cost rates, however they cannot overlap in
    time. Cost rates can be defined for various period of times, such as hourly, monthly,
    etc. Note that different periods affect overheads differently (see the help article).


    For defining persons'' cost rates specific to deals and budgets, please refer
    to [deal cost rates](https://developer.productive.io/deal_cost_rates.html#deal-cost-rates).


    Please note that we rate limit PATCH and POST api requests for editing salaries
    to 30 requests per two minutes.'
- name: Sections
  description: '**Sections** group services within a deal or budget — typically organized
    by phase, deliverable type, or billing period. They provide structure for complex
    budgets and are reflected in proposals, invoices, and financial reporting.


    A deal or budget can have multiple sections, each containing one or more services.'
- name: Service Assignments
  description: "To restrict time tracking & expense logging, there is an option to\
    \ assign specific people to specific services.\nAfter enabling \"Restricted by\
    \ person\" option on a budget, services with no one assigned will ignore this\
    \ restriction, until you assign someone.\nFor more details about how to achieve\
    \ that, please refer to the [help article](https://help.productive.io/en/articles/6202423-restricting-time-tracking-and-expense-logging-in-productive#h_a5e53cc9b0).\n\
    \n```d2\n...@template\n# template cant import globs just yet\n* {\n  class: default\n\
    }\n\n# Define actors\nperson: Person\nservice: Service\nservice_assignment: ServiceAssignment\
    \ {\n  class: primary\n}\n\n# define connections\nservice_assignment <- person\n\
    service_assignment <- service\n```"
- name: Service Type Assignments
  description: "Service type assignments are tightly coupled with service types.\n\
    For more details about what service types are, please refer to the [help article](https://help.productive.io/en/articles/2179629-service-types-building-blocks-of-your-budget).\n\
    Assignments are described under the [Assigning People to Service Types](https://help.productive.io/en/articles/2179629-service-types-building-blocks-of-your-budget?q=service+type+assignment#h_01af697e91).\n\
    To set everything up, here is [additional help article](https://help.productive.io/en/articles/6202423-restricting-time-tracking-and-expense-logging-in-productive#h_48e1951cc5).\n\
    \nAssignments are optional, but after assigning someone to specific service types\
    \ and restricting time tracking by service type in the budget,\nyou are ensuring\
    \ that this person can only log their hours against assigned services categorized\
    \ under assigned types.\n\n```d2\n...@template\n# template cant import globs just\
    \ yet\n* {\n  class: default\n}\n\n# Define actors\nperson: Person\nservice_type:\
    \ ServiceType\nservice_type_assignment: ServiceTypeAssignment {\n  class: primary\n\
    }\n\n# define connections\nservice_type_assignment <- person\nservice_type_assignment\
    \ <- service_type\n```"
- name: Service Types
  description: "For more details about what service types are, please refer to the\
    \ [help article](https://help.productive.io/en/articles/2179629-service-types-building-blocks-of-your-budget).\n\
    \nThe service type object represents one category or type for a service your company\
    \ offers. This categorization helps in organizing your workflows, time tracking\
    \ and analyzing profitability.\n\nFollowing diagram shows service types in our\
    \ data hierarchy:\n\n```d2\n...@template\n# template cant import globs just yet\n\
    * {\n  class: default\n}\n\n# Define actors\nperson: Person\nservice_type: ServiceType\
    \ {\n  class: primary\n}\nservice_type_assignment: ServiceTypeAssignment\n\n#\
    \ define connections\nperson -> service_type_assignment\nservice_type -> service_type_assignment\n\
    ```"
- name: Services
  description: '**Services** are line items on a deal or budget that define the scope,
    pricing, and tracking for a deliverable. Each service specifies a billing type
    (`fixed_fee`, `hourly`, or `days`), a budget amount, and links time tracking to
    invoicing.


    Services can have **per-person assignments** that restrict who can log time against
    them.'
- name: Sessions
  description: '**Sessions** represent authenticated login sessions for users accessing
    Productive.'
- name: Subsidiaries
  description: '### Subsidiary Tax ID


    The Tax ID displayed in **Settings → Company info → Edit Subsidiary** can be retrieved
    through the API via the related bill_from contact entry by calling:


    `GET /api/v2/subsidiaries/{id}?include=bill_from`


    The Tax ID is returned in the included section, inside the contact_entries object,
    where type is bill_from, under the `vat` attribute.'
- name: Survey Field Options
  description: Selectable options for dropdown and multi-select survey fields. Each
    option has a label and position for ordering in the dropdown.
- name: Survey Fields
  description: Form fields on a survey. Each field has a data type (text, number,
    date, dropdown, checkbox, file) and optional configuration. Dropdown and multi-select
    fields have selectable options managed via survey_field_options.
- name: Survey Responses
  description: Submitted survey responses. Each response links to a survey and contains
    field values for each survey field. Responses can trigger automations on submission.
- name: Surveys
  description: Project forms for structured data collection. Surveys can trigger automations
    on submission, making them useful for intake forms, onboarding workflows, and
    status updates. Supports custom fields for form fields.
- name: Tags
  description: '**Tags** are labels applied to tasks and other resources for categorization
    and filtering.


    Create and manage the tag definitions available in your organization, then attach
    them to records to enable tag-based search and reporting.'
- name: Task Lists
  description: "The Task list object represents a task list within the project management\
    \ system. It sits between Folders and Tasks, meaning it belongs to a folder and\
    \ contains multiple tasks.\n\nYou can find out more about task lists in our Help\
    \ documentation: [Task lists](https://help.productive.io/en/articles/2179617-task-lists)\n\
    \nFollowing diagram shows task lists in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    project: Project\nfolder: Folder\ntask_list: Task list {\n  class: primary\n}\n\
    task: Task\ncomments: Comments\nsubtasks: Subtasks\ntodos: Todos\n\n# define connections\n\
    project -> folder -> task_list -> task\ntask -> comments\ntask -> subtasks\ntask\
    \ -> todos\n```"
- name: TaskDependency
  description: '**Task dependencies** define ordering relationships between tasks:
    blocking, waiting on, or linked.


    Create and remove dependency links to enforce task sequencing. Dependencies are
    reflected in Gantt charts and can prevent downstream tasks from starting until
    blockers are resolved.'
- name: Tasks
  description: "For more details on how to work with custom fields please refer to\
    \ [Working with custom fields](https://developer.productive.io/working_with_custom_fields.html#working_with_custom_fields)\
    \ guide.\n\nThe Task object represents a task within the project management system.\n\
    \nYou can find out more about tasks in our Help documentation: [Tasks and task\
    \ lists](https://help.productive.io/en/collections/38789-tasks-and-task-lists)\n\
    \nTask can be one of two types:\n - milestone\n - task\n\nFollowing diagram shows\
    \ tasks in our data hierarchy:\n\n```d2\n...@template\n# template cant import\
    \ globs just yet\n* {\n  class: default\n}\n\n# Define actors\nproject: Project\n\
    folder: Folder\ntask_list: Task list\ntask: Task {\n  class: primary\n}\ncomments:\
    \ Comments\nsubtasks: Subtasks\ntodos: Todos\n\n# define connections\nproject\
    \ -> folder -> task_list -> task\ntask -> comments\ntask -> subtasks\ntask ->\
    \ todos\n```\n\nFor Task dependencies please refer to [TaskDependency endpoint](https://developer.productive.io/taskdependency.html#taskdependency)\
    \ documentation"
- name: TaxRates
  description: "The Tax rate object represents tax data in the invoicing system.\n\
    \nYou can find out more about tax rates in our Help documentation: [Setting up\
    \ and Managing Tax Rates in Invoicing](https://help.productive.io/en/articles/9374894-setting-up-and-managing-tax-rates-in-invoicing).\n\
    \nFollowing diagram shows tax rates in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n* {\n  class: default\n}\n\n# Define actors\n\
    subsidiary1: Subsidiary\nline_item1: Line Item\nline_item2: Line Item\nline_item3:\
    \ Line Item\ntax_rate1: Tax Rate {\n  class: primary\n}\ntax_rate2: Tax Rate {\n\
    \  class: primary\n}\n\n# Define connections\nsubsidiary1 -> tax_rate1 -> line_item1\n\
    subsidiary1 -> tax_rate2 -> line_item2\ntax_rate2 -> line_item3\n```"
- name: Team Memberships
  description: Person-team links. Each membership adds a person to a team. Teams are
    used for access control on projects and other resources, and for reporting groupings.
- name: Teams
  description: Named groups of people used for reporting and access control. Teams
    can be granted access to projects and other resources via memberships. Each team
    has a list of member people.
- name: Templates
  description: Reusable starting points for projects, budgets, deals, and pages. Each
    template wraps a real entity (its `target`) created with template semantics; the
    `target_type` discriminator determines the per-target shape required when creating
    a new template.
- name: Time Entries
  description: "Time entry object represents spent time for a person.\n\nTime can\
    \ be spent tracking on a service or on a time off event.\n\nWhen tracked on a\
    \ service, time entry can also belong to a task.\n\nWhen time entry belongs to\
    \ a task, time tracked on time entry represents task worked time and will decrease\
    \ time to complete on the task.\n\nTime entry can represent:\n- Worked hours (without\
    \ start and end time)\n- Worked time period (with start and end time) - in a form\
    \ of a timer. More on timers [here](https://developer.productive.io/timers.html#timers).\n\
    \nFollowing diagram shows time entries in our data hierarchy:\n\n```d2\n...@template\n\
    # template cant import globs just yet\n*: {\n  class: default\n}\n\n# Define actors\n\
    service: Service\ntask: Task\ntime_entry: Time Entry {\n  class: primary\n}\n\
    timer: Timer\n\n# define connections\nservice -> time_entry\ntask -> time_entry:\
    \ {\n  style: {\n    stroke-dash: 3\n    multiple: true\n  }\n}\ntime_entry ->\
    \ timer\n```\n\nYou can find out more about Time entries in our Help documentation\
    \ for [My Time](https://help.productive.io/en/articles/2179597-my-time)"
- name: Time Entries - Bulk
  description: "The Time Entries Bulk endpoint enables efficient management of multiple\
    \ time entries simultaneously. \nThis API provides bulk operations for creating,\
    \ updating, deleting, and managing approval state for time entries."
- name: Time Entry Versions
  description: "Time entry versions store the history of changes on a time entry.\n\
    \nTime entry versions are automatically created on every time entry create, update\
    \ or delete event.\n\nTime entry version tracks the event that triggered its creation.\
    \ This event can be: \n- create\n- update\n- delete\n- restore\n- approve\n- unapprove\n\
    - reject\n- unreject\n\n```d2\n...@template\n# template cant import globs just\
    \ yet\n*: {\n  class: default\n}\n\n# Define actors\ntime_entry: Time Entry\n\
    time_entry_version: Time entry version {\n  class: primary\n  style: {\n    multiple:\
    \ true\n  }\n}\n\n# define connections\ntime_entry -> time_entry_version\n```"
- name: Time Tracking Policies
  description: '**Time tracking policies** define rules governing how and when time
    entries can be logged — restricting tracking to specific services, enforcing duration
    limits, or requiring prior approval.


    Policies are assigned to people or projects to ensure time tracking compliance
    across teams.'
- name: Timers
  description: "Timer is an object belonging to a Time Entry.\n\nTimer represents\
    \ one time tracking sessions (on a time entry) and keeps track when a session\
    \ was started and when it was stopped.\n\nTimer object gets created when a person\
    \ starts a timer.\n\nCreating a Timer is possible (on API) providing either time_entry_id\
    \ or service_id in parameters. \n- When providing time_entry_id, a Timer object\
    \ will be related to provided Time Entry. \n- When providing service_id, new Time\
    \ Entry belonging to provided Service will be created and a Timer will belong\
    \ to it.\n\n```d2\n...@template\n# template cant import globs just yet\n*: {\n\
    \  class: default\n}\n\n# Define actors\nservice: Service\ntask: Task\ntime_entry:\
    \ Time Entry\ntimer: Timer {\n  class: primary\n}\n\n# define connections\nservice\
    \ -> time_entry\ntask -> time_entry: {\n  style: {\n    stroke-dash: 3\n    multiple:\
    \ true\n  }\n}\ntime_entry -> timer\n```\n\nYou can find out more about Timers\
    \ in our [Help documentation] (https://help.productive.io/en/articles/3903111-timer)"
- name: Timesheets
  description: '**Timesheets** aggregate a person''s time entries by day and are the
    unit of submission in the time approval workflow.


    Manage daily timesheet submissions, track approval status, and retrieve timesheet
    data by person or date range. Timesheets move through `draft` → `submitted` →
    `approved` / `rejected` states.'
- name: Todos
  description: "A to-do is a component of a task that requires completion and can\
    \ be assigned to an individual. \n\nOnce to-do is assigned, task appears in the\
    \ assignee's list of assigned tasks. \n\nThere's no cap on the number of to-dos\
    \ a single task can include. \n\nTo-dos can be either open or closed.\n\n```d2\n\
    ...@template\n# template cant import globs just yet\n* {\n  class: default\n}\n\
    \n# Define actors\nproject: Project\nfolder: Folder\ntask_list: Task list\ntask:\
    \ Task\ncomments: Comments\nsubtasks: Subtasks\ntodos: Todos  {\n  class: primary\n\
    }\n\n# define connections\nproject -> folder -> task_list -> task\ntask -> comments\n\
    task -> subtasks\ntask -> todos\n```\n\nYou can find out more about To-dos in\
    \ our [Help documentation] (https://help.productive.io/en/articles/4097412-task-to-do)"
- name: Users
  description: '**User accounts** for people who log into Productive. Manage credentials,
    preferences, and authentication settings.


    Each user is linked to one or more **organization memberships** that control their
    access level and permissions across the platform.'
- name: Webhook Logs
  description: The Webhook Log object represents a record of an unsuccessful webhook
    delivery attempt. When a webhook fails to deliver, a log is created with details
    about the failure.
- name: Webhooks
  description: 'For more details on webhooks please refer to the [help article](https://help.productive.io/en/articles/3693279-using-webhooks-in-productive).


    The Webhook object enables real-time notifications for events occurring in Productive.'
- name: Widgets
  description: 'The Widget object represents the fundamental dynamic component of
    the Dashboard system.


    These customizable blocks provide various filtering options, allowing you to effortlessly
    organize all essential information in one place.


    You can find out more about widgets in our Help documentation for Dashboards under
    section: [Widgets](https://help.productive.io/en/articles/6423123-dashboards#h_231c96112f)'
- name: Workflow Statuses
  description: "The Workflow Status object represents the current state of a task,\
    \ enabling users to define and monitor task stages.\n\nEvery Workflow can have\
    \ multiple Workflow statuses.\nThere are three Workflow status categories:\n -\
    \ not_started\n - started\n - closed"
- name: Workflows
  description: 'The Workflow object enables organizing tasks into distinct phases
    or stages, each with its own set of statuses.


    This allows tracking the progress of tasks from initiation to completion.


    You can learn more about Workflows in our Help documentation:

    [Workflows](https://help.productive.io/en/articles/5813154-workflows)'
paths:
  /api/v2/projects:
    get:
      tags:
      - Projects
      summary: Get projects
      responses:
        '200':
          $ref: '#/components/responses/collection_project'
      operationId: projects-index
      description: List projects. Returns a paginated collection of projects accessible
        to the authenticated user. Supports filtering, sorting, and including related
        resources.
  /api/v2/services:
    get:
      tags:
      - Services
      summary: Get services
      responses:
        '200':
          $ref: '#/components/responses/collection_service'
      operationId: services-index
      description: List services with optional filters and pagination.
  /api/v2/time_entries:
    get:
      tags:
      - Time Entries
      summary: Get time entries
      responses:
        '400':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Bad Request
        '200':
          $ref: '#/components/responses/collection_time_entry'
      operationId: time_entries-index
      description: List time entries with optional filters and pagination.
    post:
      tags:
      - Time Entries - Bulk
      summary: Create time entries
      responses:
        '201':
          $ref: '#/components/responses/single_time_entry'
        '422':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Unprocessable Entity
      operationId: time_entries-create-bulk
      requestBody:
        $ref: '#/components/requestBodies/time_entry'
      description: Create a new time entry.
  /api/v2/time_entries/{id}:
    get:
      tags:
      - Time Entries
      summary: Gets a time entry
      responses:
        '200':
          $ref: '#/components/responses/single_time_entry'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID
      operationId: time_entries-show
      description: Retrieve a single time entry by ID.
    patch:
      tags:
      - Time Entries
      summary: Update a time entry
      responses:
        '200':
          $ref: '#/components/responses/single_time_entry'
        '422':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Unprocessable Entity
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID
      operationId: time_entries-update
      requestBody:
        $ref: '#/components/requestBodies/time_entry'
      description: Update a time entry.
    delete:
      tags:
      - Time Entries
      summary: Deletes a time entry
      responses:
        '204':
          description: No Content
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID
      operationId: time_entries-destroy
      description: Delete a time entry.
  /api/v2/bookings:
    get:
      tags:
      - Bookings
      summary: Get bookings
      responses:
        '200':
          $ref: '#/components/responses/collection_booking'
      operationId: bookings-index
      description: List bookings with optional filters and pagination.
    post:
      tags:
      - Bookings
      summary: Create a booking
      responses:
        '422':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Unprocessable Entity
        '403':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Forbidden
        '400':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Bad Request
        '201':
          $ref: '#/components/responses/single_booking'
      operationId: bookings-create
      requestBody:
        $ref: '#/components/requestBodies/booking'
      description: Create a new booking.
  /api/v2/bookings/{id}:
    get:
      tags:
      - Bookings
      summary: Gets a booking
      responses:
        '200':
          $ref: '#/components/responses/single_booking'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID
      operationId: bookings-show
      description: Retrieve a single booking by ID.
    patch:
      tags:
      - Bookings
      summary: Update a booking
      responses:
        '200':
          $ref: '#/components/responses/single_booking'
        '422':
          content:
            application/vnd.api+json: {}
          headers:
            Content-Type:
              schema:
                type: string
          description: Unprocessable Entity
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID
      operationId: bookings-update
      requestBody:
        $ref: '#/components/requestBodies/booking'
      description: Update a booking.
    delete:
      tags:
      - Bookings
      summary: Deletes a booking
      responses:
        '204':
          description: No Content
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID
      operationId: bookings-destroy
      description: Delete a booking.
  /api/v2/events:
    get:
      tags:
      - Events
      summary: Get events
      responses:
        '200':
          $ref: '#/components/responses/collection_event'
      operationId: events-index
      description: List events.
  /api/v2/people:
    get:
      tags:
      - People
      summary: Get people
      responses:
        '200':
          $ref: '#/components/responses/collection_person'
      operationId: people-index
      description: List people in the organization. Supports filtering by name, email,
        type, status, team, company, manager, tags, and custom fields.
components:
  schemas:
    _single_relationship:
      anyOf:
      - type: object
        title: Single data
        properties:
          data:
            $ref: '#/components/schemas/_resource'
        description: Included variant — the related resource identifier is present
          in `data`.
        example:
          data:
            type: tasks
            id: '42'
      - $ref: '#/components/schemas/_not_included'
      description: A JSON:API single relationship — links to one related resource
        or `null`.
      example:
        data:
          type: tasks
          id: '42'
    resource_event:
      type: object
      title: Event Resource
      properties:
        organization:
          title: Organization
          description: The organization this event belongs to.
          example:
            eq: value
        description:
          type: string
          title: Description
          example:
            eq: value
        archived_at:
          type: string
          title: Archived At
          format: date-time
          description: Timestamp when this event was archived, or null if it is still
            active.
          example:
            gt: '2026-01-01'
        half_day_bookings:
          type: boolean
          title: Half Day Bookings
          description: When true, bookings for this event can be created in half-day
            increments.
          example:
            eq: value
        limitation_type_id:
          enum:
          - 2
          - 3
          - 4
          type: integer
          title: Limitation Type
          description: 'ID of the limitation type controlling how time-off for this
            event is tracked: limited by days (2), limited by hours (3), or unlimited
            by hours (4).'
          example:
          - 123
        id:
          type: integer
          title: Id
          description: The unique identifier of this event.
          example:
          - 123
        icon_id:
          type: string
          title: Icon
          description: The icon identifier used to visually represent this event in
            the UI.
          example:
          - 123
        status:
          enum:
          - 1
          - 2
          type: integer
          title: Status
          description: The archival status of this event, either active (1) or archived
            (2).
          example:
            eq: active
        sync_personal_integrations:
          type: boolean
          title: Sync Personal Integrations
          description: When true, bookings for this event are automatically synced
            to personal calendar integrations.
          example:
            eq: value
        color_id:
          type: integer
          title: Color
          description: ID of the color associated with this event for display purposes.
          example:
          - 123
        absence_type:
          enum:
          - time_off
          - remote_work
          type: string
          title: Absence Type
          description: The absence category of this event, either time_off (standard
            time-off) or remote_work.
          example:
            eq: active
        limited:
          type: boolean
          title: Limited
          description: When true, this event has a limit on the amount of time-off
            that can be booked.
          example:
            eq: value
        event_type_id:
          enum:
          - 1
          - 2
          type: integer
          title: Event Type
          description: ID of the event type indicating whether this absence is paid
            (1) or unpaid (2).
          example:
          - 123
        name:
          type: string
          title: Name
          description: The display name of this event.
          example:
            eq: value
        limitation_type:
          enum:
          - 2
          - 3
          - 4
          type: integer
          title: Limitation Type
          description: The limitation type of this event used for filtering (limited
            by days, limited by hours, or unlimited by hours).
          example:
            eq: active
      description: An absence event type (e.g. vacation, sick leave) used to categorize
        time-off bookings in the resource planner.
      example:
        id: '123'
        type: events
        attributes:
          event_type: task.created
          occurred_at: '2026-01-15T10:00:00Z'
          payload: {}
        relationships: {}
    resource_service:
      type: object
      title: Service Resource
      properties:
        bookable_date:
          type: string
          title: Bookable Date
          format: date
          description: Filters services to those bookable on the specified date, based
            on the budget's active period. Services on deals are always included.
          example:
            gt: '2026-01-01'
        origin_service_id:
          type: integer
          title: Origin Service
          description: ID of the original service if this was duplicated or rolled
            over.
          example:
          - 123
        budget_used:
          title: Budget Used
          description: Budget consumed so far.
          example:
            gt: 0
        after:
          type: string
          title: After
          format: date
          description: Earliest bookable date for this service.
          example:
            eq: value
        budget_status:
          enum:
          - 1
          - 2
          type: integer
          title: Budget Status
          description: Current status of the service budget (e.g. on track, over budget).
          example:
            gt: 0
        worked_time:
          type: integer
          title: Worked Time
          description: Total hours tracked on this service.
          example:
            gt: 0
        budget_cap_enabled:
          type: boolean
          title: Budget Cap Enabled
          description: Whether a hard budget cap prevents tracking beyond the budget
            total.
          example:
            gt: 0
        project_id:
          type: integer
          title: Project
          description: The project this service is linked to.
          example:
          - 123
        cost:
          title: Cost
          description: Total cost including labor and expenses.
          example:
            eq: value
        profit_default:
          title: Profit Default
          description: Service profit in the organization's default currency.
          example:
            eq: value
        estimated_cost:
          type: number
          title: Estimated Cost
          description: Estimated cost based on estimated time and cost rates.
          example:
            gt: 0
        currency_default:
          title: Currency Default
          description: Currency code in the organization's default currency.
          example:
            eq: value
        future_cost:
          title: Future Cost
          description: Projected cost from future scheduled bookings.
          example:
            eq: value
        deal_stage_id:
          type: integer
          title: Deal Stage
          description: The pipeline stage the parent deal is in.
          example:
          - 123
        expense_amount:
          title: Expense Amount
          description: Total expense amount on this service.
          example:
            gt: 0
        updated_at:
          type: string
          title: Updated At
          format: date
          description: Timestamp of the last update to this service.
          example:
            gt: '2026-01-01'
        price:
          type: number
          title: Price
          description: Unit price for this service.
          example:
            gt: 0
        unit_id:
          enum:
          - 1
          - 2
          - 3
          type: integer
          title: Unit
          description: 'Tracking unit: hours, days, or pieces.'
          example:
          - 123
        budget_total_normalized:
          title: Budget Total Normalized
          description: Total budget for this service in the organization's normalized
            currency.
          example:
            gt: 0
        future_cost_normalized:
          title: Future Cost Normalized
          description: Projected cost from future scheduled bookings in the organization's
            normalized currency.
          example:
            eq: value
        deleted_at:
          type: string
          title: Deleted At
          format: date-time
          description: Soft-deletion timestamp.
          example:
            gt: '2026-01-01'
        work_cost_default:
          title: Work Cost Default
          description: Labor cost from tracked time in the organization's default
            currency.
          example:
            eq: value
        discount_amount:
          title: Discount Amount
          description: Total discount in monetary terms.
          example:
            gt: 0
        project_name:
          title: Project Name
          description: Name of the project this service is linked to.
          example:
            eq: value
        bookable_before:
          type: string
          title: Bookable Before
          format: date
          description: End date until which resource bookings are allowed.
          example:
            eq: value
        expense_cost:
          title: Expense Cost
          description: Labor cost from worked time at cost rates.
          example:
            eq: value
        service_type_id:
          type: integer
          title: Service Type
          description: The work category this service belongs to.
          example:
          - 123
        worked_cost:
          title: Worked Cost
          description: Labor cost calculated from worked time.
          example:
            eq: value
        cost_normalized:
          title: Cost Normalized
          description: Total cost including labor and expenses in the organization's
            normalized currency.
          example:
            eq: value
        for_tracking:
          type: boolean
          title: For Tracking
          description: Whether this service is available for time tracking.
          example:
            eq: value
        company_id:
          type: integer
          title: Company
          description: The company (client) linked to the deal this service is on.
          example:
          - 123
        import:
          title: Import
        future_revenue:
          title: Future Revenue
          description: Revenue projected from future bookings.
          example:
            eq: value
        limitation_type:
          enum:
          - no_limitation
          - estimate_limitation
          - quantity_limitation
          - budget_fully_used
          type: string
          title: Limitation Type
          description: Budget cap enforcement type (soft warning vs hard cap).
          example:
            eq: active
        bookable_date_for_period:
          type: string
          title: Bookable Date For Period
          format: date
          description: '**Deprecated — use `bookable_date` instead**, which now returns
            identical results. Filters services to those bookable on the specified
            date, based on the budget''s active period. This filter will be removed
            in a future API version.'
          example:
            gt: '2026-01-01'
        profit_normalized:
          title: Profit Normalized
          description: Service profit in the organization's normalized currency.
          example:
            eq: value
        revenue_default:
          title: Revenue Default
          description: Total revenue from this service in the organization's default
            currency.
          example:
            eq: value
        person_id:
          type: integer
          title: Person
          description: The person assigned to this service (for person-scoped services).
          example:
          - 123
        expense_amount_normalized:
          title: Expense Amount Normalized
          description: Total expense amount on this service in the organization's
            normalized currency.
          example:
            gt: 0
        booking_tracking_enabled:
          type: boolean
          title: Booking Tracking Enabled
          description: Whether resource bookings are enabled for this service.
          example:
            eq: value
        future_budget_used:
          title: Future Budget Used
          description: Budget that will be consumed by future bookings.
          example:
            gt: 0
        projected_revenue_normalized:
          title: Projected Revenue Normalized
          description: Expected revenue including future scheduled work in the organization's
            normalized currency.
          example:
            eq: value
        quantity:
          type: number
          title: Quantity
          description: Number of units (hours, days, or pieces) for this service.
          example:
            eq: value
        probability:
          type: integer
          title: Probability
          description: Win probability of the parent deal (percentage).
          example:
            eq: value
        task_id:
          type: integer
          title: Task
          description: The task this service is linked to.
          example:
          - 123
        sales_status_id:
          enum:
          - 1
          - 2
          - 3
          - 4
          type: integer
          title: Sales Status
          description: The sales status ID of the parent deal.
          example:
          - 123
        discount_amount_default:
          title: Discount Amount Default
          description: Total discount in monetary terms in the organization's default
            currency.
          example:
            gt: 0
        custom_field_attachments:
          title: Custom Field Attachments
          description: Files in file-type custom fields.
          example:
            gt: '2026-01-01'
        price_normalized:
          title: Price Normalized
          description: Unit price for this service in the organization's normalized
            currency.
          example:
            gt: 0
        revenue_normalized:
          title: Revenue Normalized
          description: Total revenue from this service in the organization's normalized
            currency.
          example:
            eq: value
        section_id:
          type: integer
          title: Section
          description: The section grouping this service within the deal.
          example:
          - 123
        billing_type_id:
          enum:
          - 1
          - 2
          - 3
          - 4
          type: integer
          title: Billing Type
          description: 'How this service is billed: hourly, daily, fixed price, or
            non-billable.'
          example:
          - 123
        projected_revenue:
          title: Projected Revenue
          description: Expected revenue including future scheduled work.
          example:
            eq: value
        company:
          title: Company
          description: The company (client) linked to the deal this service is on.
          example:
            eq: value
        projected_revenue_default:
          title: Projected Revenue Default
          description: Expected revenue including future scheduled work in the organization's
            default currency.
          example:
            eq: value
        budget_total:
          title: Budget Total
          description: Total budget for this service.
          example:
            gt: 0
        currency:
          title: Currency
          description: Currency code for this service's financial values.
          example:
            eq: value
        position:
          type: integer
          title: Position
          description: Sort order within the deal's service list.
          example:
            eq: value
        deal_status_id:
          type: integer
          title: Deal Status
          description: The deal status of the parent deal.
          example:
          - 123
        section:
          title: Section
          description: The section grouping this service within the deal.
          example:
            eq: value
        future_cost_default:
          title: Future Cost Default
          description: Projected cost from future scheduled bookings in the organization's
            default currency.
          example:
            eq: value
        expense_tracking_enabled:
          type: boolean
          title: Expense Tracking Enabled
          description: Whether expenses can be logged against this service.
          example:
            eq: value
        stage_status_id:
          enum:
          - 1
          - 2
          - 3
          - 4
          type: integer
          title: Stage Status
          description: The stage status ID of the parent deal.
          example:
          - 123
        deal:
          title: Deal
          description: The deal or budget this service is part of.
          example:
            eq: value
        future_revenue_default:
          title: Future Revenue Default
          description: Revenue projected from future bookings in the organization's
            default currency.
          example:
            eq: value
        billable:
          type: boolean
          title: Billable
          description: Whether this service is billable to the client.
          example: true
        unapproved_time:
          type: integer
          title: Unapproved Time
          description: Total unapproved time entries in minutes.
          example:
            gt: 0
        budget_total_default:
          title: Budget Total Default
          description: Total budget for this service in the organization's default
            currency.
          example:
            gt: 0
        unit:
          enum:
          - 1
          - 2
          - 3
          type: integer
          title: Unit
          description: The tracking unit (hours, days, or pieces) for this service.
          example:
            eq: value
        budget_used_default:
          title: Budget Used Default
          description: Budget consumed so far in the organization's default currency.
          example:
            gt: 0
        rolled_over_time:
          type: integer
          title: Rolled Over Time
          description: Time rolled over from a previous retainer period.
          example:
            gt: 0
        budget_remaining:
          type: integer
          title: Budget Remaining
          description: Budget amount remaining unused.
          example:
            gt: 0
        bookable_after:
          type: string
          title: Bookable After
          format: date
          description: Start date from which resource bookings are allowed.
          example:
            eq: value
        editor_config:
          type: object
          title: Editor Config
          description: Rich text editor configuration.
          example:
            eq: value
        template:
          type: boolean
          title: Template
          description: Whether this service is a template.
          example:
            eq: value
        id:
          type: integer
          title: Id
          description: Unique identifier of the service.
          example:
          - 123
        markup:
          type: number
          title: Markup
          description: Markup amount added to the service price.
          example:
            eq: value
        work_cost_normalized:
          title: Work Cost Normalized
          description: Labor cost from tracked time in the organization's normalized
            currency.
          example:
            eq: value
        name:
          type: string
          title: Name
          description: Name of the service.
          example:
            eq: value
        estimated_time:
          type: integer
          title: Estimated Time
          description: Estimated hours for this service.
          example:
            gt: 0
        markup_amount:
          title: Markup Amount
          description: Total markup in monetary terms.
          example:
            gt: 0
        price_default:
          title: Price Default
          description: Unit price for this service in the organization's default currency.
          example:
            gt: 0
        explicit_access:
          type: boolean
          title: Explicit Access
          description: When true, filters services to those the current user has been
            explicitly granted access to.
          example:
            eq: value
        profit:
          type: integer
          title: Profit
          description: 'Service profit: revenue minus costs.'
          example:
            eq: value
        budget:
          title: Budget
          description: The deal budget this service is part of.
          example:
            gt: 0
        cost_default:
          title: Cost Default
          description: Total cost including labor and expenses in the organization's
            default currency.
          example:
            eq: value
        billable_time:
          type: integer
          title: Billable Time
          description: Billable hours tracked on the service.
          example:
            gt: 0
        budget_id:
          type: integer
          title: Budget
          description: The ID of the budget this service belongs to.
          example:
          - 123
        estimated_cost_normalized:
          title: Estimated Cost Normalized
          description: Estimated cost based on estimated time and cost rates in the
            organization's normalized currency.
          example:
            gt: 0
        service_type:
          title: Service Type
          description: The work category this service belongs to.
          example:
            eq: active
        expense_billable_amount_normalized:
          title: Expense Billable Amount Normalized
          description: Billable portion of expenses in the organization's normalized
            currency.
          example:
            gt: 0
        deal_id:
          type: integer
          title: Deal
          description: The deal or budget this service is part of.
          example:
          - 123
        budgeted_time:
          type: integer
          title: Budgeted Time
          description: Budgeted hours allocated for this service.
          example:
            gt: 0
        booked_time:
          type: integer
          title: Booked Time
          description: Total scheduled (booked) time for this service.
          example:
            gt: 0
        markup_amount_default:
          title: Markup Amount Default
          description: Total markup in monetary terms in the organization's default
            currency.
          example:
            gt: 0
        budget_used_normalized:
          title: Budget Used Normalized
          description: Budget consumed so far in the organization's normalized currency.
          example:
            gt: 0
        custom_fields:
          type: object
          title: Custom Fields
          description: Custom field values on this service.
          example:
            eq: value
        future_budget_used_normalized:
          title: Future Budget Used Normalized
          description: Budget that will be consumed by future bookings in the organization's
            normalized currency.
          example:
            gt: 0
        contract_id:
          type: integer
          title: Contract
          description: The recurring contract this service originated from.
          example:
          - 123
        expense_billable_amount_default:
          title: Expense Billable Amount Default
          description: Billable portion of expenses in the organization's default
            currency.
          example:
            gt: 0
        discount:
          type: number
          title: Discount
          description: Discount amount subtracted from the service price.
          example:
            gt: 0
        expense_amount_default:
          title: Expense Amount Default
          description: Total expense amount on this service in the organization's
            default currency.
          example:
            gt: 0
        expense_billable_amount:
          title: Expense Billable Amount
          description: Billable portion of expenses.
          example:
            gt: 0
        project_type:
          enum:
          - 1
          - 2
          type: integer
          title: Project Type
          description: Type of the project (billable or overhead).
[...]
